/* Reset */
*{ margin: 0; padding: 0;}
.wrapper{  width: 100%;  height: 100vh; overflow: hidden;  }
.wrapper .wrapper__video{object-fit: cover; width: 100%; height: 100%;}
#video-background {position: fixed; right: 0;  bottom: 0;min-width: 100%; min-height: 100%; width: 100%; height: auto;z-index: -100;}
.body_content{display: flex; justify-content: center; align-items: center; text-align: center; flex-direction: column; height: 100vh;}
.top_sec{width: 100%;}
.logo{width: 100%;}
.logo img{max-width: 10%;}
.logo_head h1{font-size: 35px; line-height: 40px; color: #fff; font-weight: bold; text-transform: uppercase; filter: drop-shadow(1px 1px 1px #000);
    letter-spacing: 2px;}
/* 11 */
.custom-btn { width: 30%; height: 40px; color: #fff; border-radius: 5px; padding: 10px 25px; font-family: 'Lato', sans-serif; font-weight: 700; background: transparent; cursor: pointer; transition: all 0.3s ease; position: relative; display: inline-block; box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1); outline: none;}
.btn-11 { border: none;background: #9b1c50; background: linear-gradient(0deg, #9b1c50 0%, rgba(234,76,137,1) 100%); color: #fff;overflow: hidden; }
.btn-11:hover {text-decoration: none; color: #fff; }
.btn-11:before { position: absolute;content: ''; display: inline-block; top: -180px; left: 0; width: 30px; height: 100%; background-color: #fff;
animation: shiny-btn1 3s ease-in-out infinite;  }
.btn-11:hover{background: #4c4c4c; color: #fff;}
.btn-11:active{ box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),-4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255,255,255,.2), inset 4px 4px 6px 0 rgba(0, 0, 0, .2); }

.middle_sec{width: 100%; margin-top: 30px;}
.middle_sec li{ margin-bottom: 25px; list-style-type: none;}
ul{padding-left: 0 !important;}
.top_sec{position:relative;}
.globe{position: absolute;top: 53%;right: 21%;}
/* responsive css */
@media (min-width: 1200px) and (max-width: 1399px){
   .globe { position: absolute; top: 49%; right: 17%;}
   .slide{right:15% !important;}
}
@media (min-width: 992px) and (max-width: 1199px){
    .custom-btn{width: 40%;}
    .logo img { max-width: 14%;}
     .globe { position: absolute; top: 53%; right: 11%;}
    .slide{right:8% !important;}
}
@media only screen and (max-width: 991px){
    .custom-btn{width: 50%;}
    .logo img { max-width: 15%;}
     .globe { position: absolute; top: 46%; right: 0%;}
     .slide{top: 234% !important;right: 36% !important;}
} 
@media only screen and (max-width: 767px){
    .custom-btn{width: 65%;}
    .logo_head h1 { font-size: 27px; line-height: 32px;}  
    .logo img {max-width: 20%; }
   .slide{right: 32% !important;}
}
@media only screen and (max-width: 575px){
    .custom-btn{width: 80%;}
    .logo_head h1 { font-size: 20px; line-height: 23px;}
    .middle_sec li { margin-bottom: 18px;}  
    .logo_head .img-fluid{max-width:95%;}
     .globe { position: absolute; top: -20%; right: 0%;}
}
@media only screen and (max-width: 480px){
    .logo img {max-width: 35%; }
    .custom-btn{width: 95%;}
    .logo_head h1 {font-size: 18px;line-height: 23px; letter-spacing: 0; }
    .middle_sec li { margin-bottom: 18px;} 
    .globe img{max-width:50%;}
     .globe { position: absolute; top: 17%; right: 0%;}
     .slide { right: 21% !important;}
}


/* contact us page start */
header{position: absolute;}
.header_in{width: 100%; display: flex; justify-content: space-between; align-items: center; background: transparent;}
header a img{max-width: 12%;}
.banner_sec{width: 100%;}
.banner_sec img{width: 100%; object-fit: cover; max-height: 350px;}














  